*
{
  margin:0;
  padding:0;
}
body
{
  background:url(background2.jpg) no-repeat center fixed;
  background-size:cover;
}

header
{
  width:100%;
  border:2px solid red;
  display:flex;
  flex-wrap:no-wrap;
  justify-content:space-between;
  align-items: center;
  position:fixed;
  top:0;
  height:3.8em;
  z-index:2;
}
header #logo
{
   flex-basis:15%;
   border:2px solid blue;
   background-color:#4d79ff;
   height:43px;
   padding-left:10px;
   border:2px solid green;
}
header #search
{
   flex-basis:30%;
   height:auto;
   border:2px solid yellow;
}
header #search input
{
   width:80%;
   border:2px soild rgb(224, 204, 255);
   border-radius:14px;
   text-align:center;
   height:22px;
}
header #filter, header #filter span
{
   flex-basis:10%;
   height:auto;
   border:2px soild green;
   color:rgb(224, 204, 255);
   text-transform:uppercase;
   text-decoration:none;
}
header #slinks
{
   flex-basis:15%;
   height:auto;
   border:2px solid pink;
}
i
{
   text-decoration:none;
   color:rgb(224, 204, 255);
   padding:3px;
}
nav
{
   border: 2px ridge rgb(224, 204, 255);
   width:16.66%;
   height:35em;
   position:fixed;
   right:0;
   top:4em;
}
nav ul
{
   display:flex;
   flex-flow:column nowrap;
   list-style-type:none;

}
nav ul li
{
   border: 2px ridge rgb(224, 204, 255);
   text-transform:uppercase;
   padding:7px;
}
nav ul li a
{
   color:rgb(224, 204, 255);
   text-decoration:none;

}
#promo
{
   border:2px solid grey;
   width:66.66%;
   display:flex;
   flex-flow:column nowrap;
   position:absolute;
   left:8.33%;
   top:8em;

}
#promo img
{
   width:100%;
   display:block;
   height:26em;
}
#shayri
{
   border:2px solid black;
   top:-204px;
   right:-100px;
   position:relative;
   width:30%;
   transform:rotate(-18deg);
}
#pic
{
   border:2px solid black;
   width:30%;
   top:-255px;
   right:-350px;
   position:relative;
   transform:rotate(-18deg);
}
#animation
{
   height:26em;
   color:white;
   text-align:center;
   background-color:blue;
}
#intro
{
   hright:10em;
   text-align:center;
   background-color:red;
}
